/* estilos personalizados para el formulario */
.form-wrapper {
    margin-top: 30px; /* Margen superior */
    margin-left: 5%; /* Margen izquierdo */
    margin-right: 5%; /* Margen derecho */
    /* Puedes ajustar los valores de margen según lo necesites */
  }

  .content-wrapper {
    padding: 20px; /* Ajusta el padding del contenedor principal */
    overflow: hidden; /* Para asegurarte de que no haya desbordes */
}


  .label-custom, .input-custom {
    font-size: 12px;

  }

  .custom-th, .custom-td {
    font-size: 12px;
    padding: 0.3rem;
    max-width: 100px; /* Limita el ancho máximo de cada celda */
    text-align: center;
  
  
  }

  .separated-content {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
  }

  .separated-content {
    max-width: 80%;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  button {
    margin-right: 5px;
   
  }

  /* Estilo general para todos los botones */
.btn-custom {
  
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
  max-width: 270px; /* O el valor adecuado según el diseño */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover para darle interacción */
.btn-custom:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Tamaño específico para los iconos dentro de los botones */
.btn-custom i {
  margin-right: 8px;
  font-size: 16px;
}

  .wrapper {
    min-height: 100vh;
  }

  .progress-container {
    position: relative;
  }
  
  .progress-label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-weight: bold;
    margin-top: 4px;
  }

  
  