/* src/app/informe-auditoria/informe-auditoria.component.css */

html, body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
}

.custom-form .form-control {
  font-size: 14px;
}

.custom-form .small-text {
  font-size: 14px;
}

/* Título de la tarjeta */
.custom-h5 {
  font-size: 16px;
  text-align: center;
}

/* Mensajes de error */
.text.alert-danger {
  font-size: 10px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 4px;
  margin-top: 5px;
}

.content-wrapper {
  margin-top: 80px; 
  margin-bottom: 80px;
}
.custom-form .uniform-field {
  height: calc(1.5em + 0.5rem + 2px); 
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  line-height: 1.5;
}

.custom-form .small-text.mb-1 {
  margin-bottom: 0.25rem;
}

.table-container {
  max-height: 300px; /* o lo que necesites */
  overflow-y: auto;
  display: block;
}

.table thead th {
  position: sticky;
  top: 0;
  background: #f8f9fa; /* mismo color que .table-light */
  z-index: 1;
}
