<app-nav></app-nav>

<div class="content-wrapper">
  <form [formGroup]="informeForm" (ngSubmit)="onSubmit()" class="container mt-2 custom-form">
    <div class="card w-100">
      <div class="card-header bg-primary text-white">
        <h5 class="custom-h5">
          {{ editarId == null ? 'Crear Auditoria Ambiental' : 'Editar Auditoria Ambiental' }}
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Select de Organización -->
          <div class="col-md-6 mb-3">
            <div class="d-flex flex-column">
              <label for="organizacion" class="small-text mb-1">Organización:</label>
              <select #selOrg id="organizacion" formControlName="organizacionId"
                (change)="setRazonSocial(+selOrg.value)" class="form-select form-select-sm uniform-field">
                <option [value]="null" disabled>-- Seleccione una organización --</option>
                <option *ngFor="let org of organizaciones" [value]="org.id">
                  {{ org.razonSocial }}
                </option>
              </select>
            </div>
            <div *ngIf="informeForm.get('organizacionId')?.invalid && informeForm.get('organizacionId')?.touched"
              class="text alert-danger small-text mt-1">
              La organización es obligatoria.
            </div>
          </div>

          <!-- Fecha -->
          <div class="col-md-6 mb-3">
            <div class="d-flex flex-column">
              <label for="fecha" class="small-text mb-1">Fecha:</label>
              <input type="date" id="fecha" formControlName="fecha"
                class="form-control form-control-sm uniform-field" />
            </div>
            <div
              *ngIf="informeForm.get('fecha')?.invalid && (informeForm.get('fecha')?.dirty || informeForm.get('fecha')?.touched)"
              class="text alert-danger small-text mt-1">
              <div *ngIf="informeForm.get('fecha')?.errors?.['required']">
                La fecha es obligatoria.
              </div>
            </div>
          </div>

          <!-- Titulo -->
          <div class="col-md-12 mb-3">
            <div class="d-flex flex-column">
              <label for="titulo" class="small-text mb-1">Titulo:</label>
              <input type="text" id="fecha" formControlName="titulo"
                class="form-control form-control-sm uniform-field" />
            </div>
            <div
              *ngIf="informeForm.get('titulo')?.invalid && (informeForm.get('titulo')?.dirty || informeForm.get('titulo')?.touched)"
              class="text alert-danger small-text mt-1">
              <div *ngIf="informeForm.get('titulo')?.errors?.['required']">
                El titulo es obligatorio.
              </div>
            </div>
          </div>
        </div>



        <!-- Botones centrados -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-sm mx-2">
            <i class="fas fa-save me-2"></i>
            {{ editarId == null ? 'Guardar' : 'Actualizar' }}
          </button>
          <button *ngIf="editarId != null" type="button" class="btn btn-success btn-sm mx-2"
            (click)="cancelarEdicion()">
            <i class="fas fa-eraser mx-2"></i> Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>


  <!-- FILTRO POR RAZÓN SOCIAL: dentro de un contenedor para alinear -->
  <div class="container mt-4">
    <div class="card w-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-md-4">
            <label class="small-text mb-1">Filtrar por Organización:</label>
            <input type="text" [(ngModel)]="organizationFilter" name="organizationFilter"
              placeholder="🔎 Escriba para filtrar..." class="form-control form-control-sm" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Spinner Overlay -->
  <app-spinner [isVisible]="loading"></app-spinner>

  <div class="container mt-4">
    <div class="card w-100">
      <div class="card-body">
        <h3 class="container mt-0 text-center" style="font-size: 18px; color: #200cd3;">
          <strong>Lista de Informes creados</strong>
        </h3>

        <div class="table-container">
          <table class="table table-striped">
            <thead class="table-light sticky-header">
              <tr>
                <th>Fecha</th>
                <th>Titulo</th>
                <th>Razón Social</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inf of filteredInformes">
                <td>{{ inf.fecha | date:'dd/MM/yyyy' }}</td>
                <td>{{ inf.titulo }}</td>
                <td>{{ inf.razonSocial }}</td>
                <td style="width: 200px; white-space: nowrap;">

                  <!-- botón crear capitulo -->
                  <button class="btn btn-sm btn-info mx-2" (click)="crearCapitulos(inf)">
                    <i class="fas fa-folder-open mx-1"></i>Crear Capítulos
                  </button>

                  <!-- botón crear encabezado -->
                  <button class="btn btn-sm btn-secondary mx-2" (click)="crearEncabezado(inf)">
                    <i class="fas fa-file-alt mx-1"></i> Crear Encabezado
                  </button>

                  <button class="btn btn-sm btn-danger mx-2" (click)="eliminarInforme(inf.id!)">
                    <i class="fas fa-trash mx-1"></i>Eliminar
                  </button>
                </td>
              </tr>
              <tr *ngIf="filteredInformes.length === 0">
                <td colspan="4" class="text-center">No hay informes que coincidan.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>