/* src/app/legal/semaforo-requisitos/semaforo-requisitos.component.css */
.semaforo-circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .green { background-color: #28a745; }
  .yellow { background-color: #ffc107; }
  .red { background-color: #dc3545; }
  
  .custom-tr {
    font-size: 12px; 
}

.custom-td {
    font-size: 12px; 
}

.custom-button {
    font-size: 12px; /* Ajusta este valor según tus necesidades */
}

.separated-content {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
  }

  .custom-h5 {
    font-size: 16px; 
    text-align: center; 
}

.custom-font-size {
    font-size: 18px; /* Ajustá el valor según lo que necesites */
  }

  .content-wrapper {
    margin-top: 30px; /* Aumenta la separación */
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 30px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }

  .search-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    width: 200px;
    padding: 6px 12px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  