<!-- src/app/legal/semaforo-requisitos/semaforo-requisitos.component.html -->
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <app-nav></app-nav>
      <div class="content-wrapper" style="overflow-y: auto; height: 100vh;">
        <div class="container my-4 d-flex justify-content-center">
          <div class="separated-content">
            <div class="card" style="width: 100%;">
              <div class="col mt-3">
                <h5 class="text-center custom-font-size">Semáforo de Requisitos</h5>
                <div *ngIf="requisitos.length > 0" style="max-height: 600px; overflow-y: auto;">
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th class="custom-tr">Razon Social</th>
                        <th class="custom-tr">Fecha de Control</th>
                        <th class="custom-tr">Vencimiento</th>
                        <th class="custom-tr">Días</th>
                        <th class="custom-tr">Semáforo</th>
                        <th class="custom-tr">Nombre</th>
                        <th class="custom-tr">Jurisdicción</th>
                        <th class="custom-tr">Obs. Documento</th>
                        <th class="custom-tr">Observaciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let r of requisitos">
                        <td class="custom-td">{{ r.organizacionRazonSocial }}</td>
                        <td class="custom-td">{{ r.fechaControl | date:'dd/MM/yyyy' }}</td>
                        <td class="custom-td">{{ r.vencimiento  | date:'dd/MM/yyyy' }}</td>
                        
                        <td class="custom-td">{{ r.dias }}</td>
                        <td class="custom-td">
                          <span class="semaforo-circle" [ngClass]="r.semaforo"></span>
                        </td>
                        <td class="custom-td">{{ r.nombre || '–' }}</td>
                        <td class="custom-td">{{ r.juridiccion || '–' }}</td>
                        <td class="custom-td">{{ r.observacionesDocumento || '–' }}</td>
                        <td class="custom-td">{{ r.observaciones || '–' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="requisitos.length === 0" class="alert alert-info">
                  No hay requisitos para mostrar
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </body>
  