<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <app-nav></app-nav>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="card form-card shadow-sm my-4 border-0" #formularioInicial>
        <div class="card-header my-3 text-center bg-light">
          <h5 class="card-title mb-0">Formulario de inicial</h5>
        </div>
        <div class="card-body">
          <div class="form-wrapper">
            <form [formGroup]="informeForm" (ngSubmit)="onSubmit()">
              <!-- Datos generales -->
              <div class="form-row mb-2">
                <!-- Nombre del Proponente -->
                <div class="form-group col-md-3">
                  <label for="nombreDelProponente" class="label-custom">Nombre del Proponente</label>
                  <input id="nombreDelProponente" formControlName="nombreDelProponente" class="form-control input-custom" />
                  <div *ngIf="informeForm.get('nombreDelProponente')?.invalid && informeForm.get('nombreDelProponente')?.touched" class="text alert-danger">
                    El nombre del proponente es requerido
                  </div>
                </div>
                <!-- Razón Social -->
                <div class="form-group col-md-3">
                  <label for="razonSocial" class="label-custom">Razón Social</label>
                  <input id="razonSocial" formControlName="razonSocial" class="form-control input-custom" />
                  <div *ngIf="informeForm.get('razonSocial')?.invalid && informeForm.get('razonSocial')?.touched" class="text alert-danger">
                    La razón social es requerida
                  </div>
                </div>

                <!-- Apoderado Legal -->
                <div class="form-group col-md-3">
                  <label for="apoderadoLegal" class="label-custom">Apoderado Legal</label>
                  <input id="apoderadoLegal" formControlName="apoderadoLegal" class="form-control input-custom" />
                  <div *ngIf="informeForm.get('apoderadoLegal')?.invalid && informeForm.get('apoderadoLegal')?.touched"
                  class="text alert-danger">
                    El apoderado legal es requerido
                  </div>
                </div>

                <!-- Cargo Apoderado Legal -->
                <div class="form-group col-md-3">
                  <label for="apoderadoCargo" class="label-custom">Cargo Apoderado Legal</label>
                  <input id="apoderadoCargo" formControlName="apoderadoCargo" class="form-control input-custom" />
                  <div *ngIf="informeForm.get('apoderadoCargo')?.invalid && informeForm.get('apoderadoCargo')?.touched"
                  class="text alert-danger">
                    El cargo del apoderado legal es requerido
                  </div>
                </div>
              </div>


              <!-- Domicilio Real del Proyecto -->
              <div class="form-row mb-2">
                <div class="form-group col-md-4">
                  <label for="domicilioRealProyecto" class="label-custom">Domicilio Real del Proyecto</label>
                  <input id="domicilioRealProyecto" formControlName="domicilioRealProyecto"
                    class="form-control input-custom" />
                  <div
                    *ngIf="informeForm.get('domicilioRealProyecto')?.invalid && informeForm.get('domicilioRealProyecto')?.touched"
                    class="text alert-danger">
                    El domicilio real del proyecto es requerido
                  </div>
                </div>

                <!-- Domicilio Real del Proyecto -->
                <div class="form-group col-md-4">
                  <label for="domicilioLegalProyecto" class="label-custom">Domicilio Legal del Proyecto</label>
                  <input id="domicilioLegalProyecto" formControlName="domicilioLegalProyecto"
                    class="form-control input-custom" />
                  <div
                    *ngIf="informeForm.get('domicilioLegalProyecto')?.invalid && informeForm.get('domicilioLegalProyecto')?.touched"
                    class="text alert-danger">
                    El domicilio legal del proyecto es requerido
                  </div>
                </div>

                <!-- Situación del Predio -->
                <div class="form-group col-md-4">
                  <label for="situacionPredio" class="label-custom">Situación del Predio</label>
                  <select id="situacionPredio" formControlName="situacionPredio" class="form-control input-custom">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Propio">Propio</option>
                    <option value="Alquilado">Alquilado</option>
                    <option value="Comodato">Comodato</option>
                  </select>
                  <div
                    *ngIf="informeForm.get('situacionPredio')?.invalid && informeForm.get('situacionPredio')?.touched"
                    class="text alert-danger">
                    La situación del predio es requerida
                  </div>
                </div>
              </div>

              <!-- CUIT -->
              <div class="form-row mb-2">
                <div class="form-group col-md-2">
                  <label for="cuit" class="label-custom">CUIT</label>
                  <input id="cuit" type="number" maxlength="11" formControlName="cuit"
                    class="form-control input-custom" />
                  <!-- Acceso a los errores usando corchetes -->
                  <div *ngIf="informeForm.get('cuit')?.errors?.['maxlength'] && informeForm.get('cuit')?.touched"
                  class="text alert-danger">
                    El CUIT no puede tener más de 11 dígitos.
                  </div>
                  <div *ngIf="informeForm.get('cuit')?.errors?.['pattern'] && informeForm.get('cuit')?.touched"
                  class="text alert-danger">
                    El CUIT solo puede contener números.
                  </div>
                </div>

                <!-- Licencia Comercial -->
                <div class="form-group col-md-3">
                  <label for="licenciaComercial" class="label-custom">Licencia Comercial</label>
                  <input id="licenciaComercial" formControlName="licenciaComercial" class="form-control input-custom" />
                  <div
                    *ngIf="informeForm.get('licenciaComercial')?.invalid && informeForm.get('licenciaComercial')?.touched"
                    class="text alert-danger">
                    La Licencia Comercial es requerida
                  </div>
                </div>


                <!-- Personería Jurídica -->
                <div class="form-group col-md-2">
                  <label for="personeriaJuridica" class="label-custom">Personería Jurídica</label>
                  <input id="personeriaJuridica" formControlName="personeriaJuridica"
                    class="form-control input-custom" />
                  <div
                    *ngIf="informeForm.get('personeriaJuridica')?.invalid && informeForm.get('personeriaJuridica')?.touched"
                    class="text alert-danger">
                    La Personería Jurídica es requerida
                  </div>
                </div>


                <!-- Fecha de Creación -->
                <div class="form-group col-md-2">
                  <label for="fechaCreacion" class="label-custom">Fecha de Creación</label>
                  <input id="fechaCreacion" type="date" formControlName="fechaCreacion"
                    class="form-control input-custom" />
                  <div *ngIf="informeForm.get('fechaCreacion')?.invalid && informeForm.get('fechaCreacion')?.touched"
                  class="text alert-danger">
                    La Fecha de Creación es requerida
                  </div>
                </div>


                <!-- Nomenclatura Catastral -->
                <div class="form-group col-md-3">
                  <label for="nomenclaturaCatatrasl" class="label-custom">Nomenclatura Catastral</label>
                  <input id="nomenclaturaCatatrasl" formControlName="nomenclaturaCatatrasl"
                    class="form-control input-custom" />
                </div>
                <div
                  *ngIf="informeForm.get('nomenclaturaCatatrasl')?.invalid && informeForm.get('nomenclaturaCatatrasl')?.touched"
                  class="text alert-danger">
                  La Nomenclatura Catastralde es requerida
                </div>
              </div>


              <!-- Actividad Principal -->
              <div class="form-row mb-2">
                <div class="form-group col-md-7">
                  <label for="actividadPrincipal" class="label-custom">Actividad Principal</label>
                  <input id="actividadPrincipal" formControlName="actividadPrincipal"
                    class="form-control input-custom" />
                  <div
                    *ngIf="informeForm.get('actividadPrincipal')?.invalid && informeForm.get('actividadPrincipal')?.touched"
                    class="text alert-danger">
                    La Nomenclatura Catastralde es requerida
                  </div>
                </div>


                <!--  Dimensión del Predio -->
                <div class="form-group col-md-2.3">
                  <label for="dimensionPredio" class="label-custom">
                    Dimensión del Predio <span style="font-size: 10px;">m2</span>
                  </label>
                  <input id="dimensionPredio" type="number" formControlName="dimensionPredio"
                    class="form-control input-custom" />

                  <div
                    *ngIf="informeForm.get('dimensionPredio')?.invalid && informeForm.get('dimensionPredio')?.touched"
                    class="text alert-danger">
                    La dimension Predio es requerida
                  </div>
                </div>


                <!-- Superficie cubierta -->
                <div class="form-group col-md-2.5">
                  <label for="superficieCubierta" class="label-custom">
                    Superficie cubierta <span style="font-size: 10px;">m2</span>
                  </label>
                  <input id="superficieCubierta" type="number" formControlName="superficieCubierta"
                    class="form-control input-custom" />
                  <div
                    *ngIf="informeForm.get('superficieCubierta')?.invalid && informeForm.get('superficieCubierta')?.touched"
                    class="text alert-danger">
                    La Superficie cubierta es requerida
                  </div>
                </div>

                <!-- Superficie descubierta -->
                <div class="form-group col-md-3">
                  <label for="superficieDescubierta" class="label-custom">
                    Superficie descubierta <span style="font-size: 10px;">m2</span>
                  </label>
                  <input id="superficieDescubierta" type="number" formControlName="superficieDescubierta"
                    class="form-control input-custom" />
                  <div
                    *ngIf="informeForm.get('superficieDescubierta')?.invalid && informeForm.get('superficieDescubierta')?.touched"
                    class="text alert-danger">
                    La Superficie descubierta es requerida
                  </div>
                </div>


                <!-- Tecnología < -->
                <div class="form-group col-md-9">
                  <label for="tecnologia" class="label-custom">Tecnología</label>
                  <input id="tecnologia" formControlName="tecnologia" class="form-control input-custom" />
                  <div *ngIf="informeForm.get('tecnologia')?.invalid && informeForm.get('tecnologia')?.touched"
                  class="text alert-danger">
                    La Tecnología es requerida
                  </div>
                </div>
              </div>

              <!-- Botón para crear el informe -->
              <div class="form-row mt-3">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-custom" [disabled]="informeForm.invalid">Crear
                    Informe</button>
                </div>
              </div>
            </form>
          </div>

          <!-- Campo de búsqueda -->
          <div class="mt-4">
            <input type="text" class="form-control" placeholder="Buscar por nombre del proponente"
              [formControl]="searchControl" />
          </div>

          <!-- Tarjetas para mostrar los informes creados -->
          <div class="card mt-4" style="width: 100%;">
            <div class="col mt-3">

              <div *ngIf="filteredInformes.length > 0" class="d-flex flex-wrap justify-content-between">
                <div *ngFor="let informe of filteredInformes" class="card mb-4" style="width: 100%;">

                  <div class="card-body">

                    <div class="card shadow-sm my-3 border-0"
                    style="width: 20rem; background-color: #161719; color:  #040404; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);">
                      <div class="card-body text-center">
                        <h5 class="card-title">Estado de avance formulario</h5>

                        <p class="card-text">
                          <strong>Razón Social:</strong> {{ informe.razonSocial }}
                        </p>


                        <p class="card-text text-muted">
                          Porcentaje de Finalización: <strong>{{ calculateCompletionDetails(informe).percentage
                            }}%</strong>
                        </p>
                        <!-- Lista de secciones vacías alineada a la izquierda -->
                        <div *ngIf="calculateCompletionDetails(informe).emptySections.length > 0" class="text-left">
                          <p class="text-danger font-weight-bold">Secciones Vacías:</p>
                          <ul class="list-unstyled">
                            <li *ngFor="let section of calculateCompletionDetails(informe).emptySections"
                              class="text-muted">
                              <i class="fa-solid fa-circle-exclamation text-warning"></i> {{ section }}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>


                    <div class="card shadow-sm my-3 border-0"
                      style="width: 20rem; background-color: #edf2f7; color:  #040404; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);">
                      <div class="card-body text-center">
                        <h5 class="card-title">Opciones de Informe</h5>
                        <p class="card-text text-muted">Gestiona tu informe con las siguientes opciones:</p>
                        <!-- Botón de edición -->
                        <button (click)="editarInforme(informe)" class="btn btn-outline-primary btn-block mb-2">
                          <i class="fa-solid fa-square-pen"></i> Editar
                        </button>
                        <!-- Botón de eliminación -->
                        <button (click)="eliminarInforme(informe)" class="btn btn-outline-danger btn-block">
                          <i class="fa-solid fa-trash-can"></i> Eliminar
                        </button>
                      </div>
                    </div>


                    <!-- Lista de secciones vacías alineada a la izquierda -->

                    <h6 class="card-title" style="color: blue; font-size: 18px;">{{ informe.nombreDelProponente }}</h6>

                    <p class="card-text">
                      <strong>Razón Social:</strong> {{ informe.razonSocial }}<br />
                      <strong>Apoderado:</strong> {{ informe.apoderadoLegal }}<br />
                      <strong>CUIT:</strong> {{ informe.cuit }}<br />
                      <strong>Domicilio Real:</strong> {{ informe.domicilioRealProyecto }}<br />
                      <strong>Domicilio Legal:</strong> {{ informe.domicilioLegalProyecto }}<br />
                      <strong>Situación del Predio:</strong> {{ informe.situacionPredio }}<br />
                      <strong>Catastro:</strong> {{ informe.nomenclaturaCatatrasl }}<br />
                      <strong>Licencia Comercial:</strong> {{ informe.licenciaComercial }}<br />
                      <strong>Personería Jurídica:</strong> {{ informe.personeriaJuridica }}<br />
                      <strong>Fecha de Creación:</strong> {{ informe.fechaCreacion }}<br />
                      <strong>Actividad Principal:</strong> {{ informe.actividadPrincipal }}<br />
                      <strong>Dimensión del Predio (en m2):</strong> {{ informe.dimensionPredio }}<br />
                      <strong>Superficie cubierta (en m2):</strong> {{ informe.superficieCubierta }}<br />
                      <strong>Superficie descubierta (en m2):</strong> {{ informe.superficieDescubierta }}<br />
                      <strong>Tecnología:</strong> {{ informe.tecnologia }}
                    </p>




                    <!-- Botón para cargar correos -->
                    <div>
                      <button (click)="cargarCorreo(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-envelope"></i>
                        Cargar correo de contacto
                      </button>
                    </div>

                    <!-- Tabla de E-mails de contacto -->
                    <div *ngIf="informe.correos && informe.correos.length > 0" class="mt-4">
                      <h6 class="text-center header-style">E-mails de contactos</h6>

                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="custom-th">Nombre</th>
                            <th class="custom-th">e-mail</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let correo of informe.correos">
                            <td class="custom-td">{{ correo.nombre }}</td>
                            <td class="custom-td">{{ correo.correo }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Mensaje cuando no hay correos -->
                    <div *ngIf="informe.correos && informe.correos.length === 0">
                      <div style="height: 20px;"></div>
                    </div>


                    <!-- Botón para cargar teléfonos -->
                    <div>
                      <button (click)="cargarTelefono(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-phone"></i>
                        Cargar Teléfonos de contacto
                      </button>
                    </div>

                    <!-- Tabla de Teléfonos de contacto -->
                    <div *ngIf="informe.telefonos && informe.telefonos.length > 0" class="mt-4">
                      <h6 class="text-center header-style">Teléfonos de contacto</h6>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="custom-th">Nombre</th>
                            <th class="custom-th">Teléfono</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let telefono of informe.telefonos">
                            <td class="custom-td">{{ telefono.nombre }}</td>
                            <td class="custom-td">{{ telefono.telefono }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Mensaje cuando no hay teléfonos -->
                    <div *ngIf="informe.telefonos && informe.telefonos.length === 0">
                      <div style="height: 20px;"></div>

                    </div>

                    <!-- Botón para cargar nómina de empleados -->
                    <div>
                      <button (click)="cargarNominaEmpleados(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-users"></i>
                        Cargar nómina de empleados
                      </button>
                    </div>

                    <!-- Tabla de Nómina de Empleados -->
                    <div *ngIf="informe.empleados && informe.empleados.length > 0" class="mt-4">
                      <h6 class="text-center header-style">Nómina de Empleados</h6>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="custom-th">Puesto</th>
                            <th class="custom-th">Contrato</th>
                            <th class="custom-th">Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let empleado of informe.empleados">
                            <td class="custom-td">{{ empleado.puesto }}</td>
                            <td class="custom-td">{{ empleado.contrato }}</td>
                            <td class="custom-td">{{ empleado.cantidad }}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td class="custom-td" colspan="2"><strong>Total</strong></td>
                            <td class="custom-td"><strong>{{ getTotalCantidad(informe.empleados) }}</strong></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- Mensaje cuando no hay empleados -->
                    <div *ngIf="!informe.empleados || informe.empleados.length === 0">
                      <div style="height: 20px;"></div>

                    </div>

                    <!-- Botón para cargar servicios disponibles -->
                    <div>
                      <button (click)="cargarServicioDisponible(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-lightbulb"></i>
                        Cargar servicios disponibles
                      </button>
                    </div>


                    <!-- Tabla de Servicios Disponibles -->
                    <div *ngIf="informe.serviciosDisponibles && informe.serviciosDisponibles.length > 0" class="mt-4">
                      <h6 class="text-center header-style">Servicios Disponibles</h6>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="custom-th">Tipo de servicios</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let servicio of informe.serviciosDisponibles">
                            <td class="custom-td">{{ servicio.servicio }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Mensaje cuando no hay servicios -->
                    <div *ngIf="informe.serviciosDisponibles && informe.serviciosDisponibles.length === 0">
                      <div style="height: 20px;"></div>
                    </div>


                    <!-- Botón para cargar sectores -->
                    <div>
                      <button (click)="cargarSector(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-sitemap"></i>
                        Cargar Sectores
                      </button>
                    </div>

                    <!-- Tabla de Sectores -->
                    <div *ngIf="informe.sectores && informe.sectores.length > 0" class="mt-4">
                      <h6 class="text-center header-style">Listado de Sectores</h6>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="custom-th">Sectores</th>
                            <th class="custom-th">Superficie m2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sector of informe.sectores">
                            <td class="custom-td">{{ sector.sector }}</td>
                            <td class="custom-td">{{ sector.m2 }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Mensaje cuando no hay sectores -->
                    <div *ngIf="informe.sectores && informe.sectores.length === 0">
                      <div style="height: 20px;"></div>
                    </div>


                    <!-- Botón para cargar procesos -->
                    <div>
                      <button (click)="cargarProceso(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-industry"></i>
                        Cargar Procesos
                      </button>
                    </div>



                    <!-- Tabla de Procesos -->
                    <div *ngIf="informe.procesos && informe.procesos.length > 0" class="mt-4">
                      <h6 class="text-center header-style">Listado de Procesos</h6>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="custom-th">Nombre</th>
                            <th class="custom-th">Producto</th>
                            <th class="custom-th">Sub-Producto</th>
                            <th class="custom-th">Residuos</th>
                            <th class="custom-th">Acopio de Residuos</th>
                            <th class="custom-th">Residuos Líquidos</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let proceso of informe.procesos">
                            <td class="custom-td">{{ proceso.nombre }}</td>
                            <td class="custom-td">{{ proceso.producto }}</td>
                            <td class="custom-td">{{ proceso.subProducto }}</td>
                            <td class="custom-td">{{ proceso.residuos }}</td>
                            <td class="custom-td">{{ proceso.acopioResiduos }}</td>
                            <td class="custom-td">{{ proceso.residuosLiquidos }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Mensaje cuando no hay procesos -->
                    <div *ngIf="informe.procesos && informe.procesos.length === 0">
                      <div style="height: 20px;"></div>
                    </div>


                    <!-- Botón para cargar procedimientos -->
                    <div>
                      <button (click)="cargarProcedimiento(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-book"></i>
                        Cargar Procedimientos
                      </button>
                    </div>

                    <!-- Tabla de Procedimientos -->
                    <div *ngIf="informe.procedimientos && informe.procedimientos.length > 0" class="mt-4">
                      <h6 class="text-center header-style">Listado de Procedimientos</h6>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="custom-th">Procedimiento</th>
                            <th class="custom-th">Adjunto</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let procedimiento of informe.procedimientos">
                            <td class="custom-td">{{ procedimiento.nombre }}</td>
                            <td class="custom-td">
                              <button class="btn btn-info btn-sm" (click)="verAdjunto(procedimiento.adjunto)">
                                Ver
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Mensaje cuando no hay procedimientos -->
                    <div *ngIf="informe.procedimientos && informe.procedimientos.length === 0">
                      <div style="height: 20px;"></div>
                    </div>

                    <!-- Botón para cargar procedimientos -->
                    <div>
                      <button (click)="cargarAdjuntoInforme(informe.id)"
                        class="btn btn-sm btn-success btn-custom btn-custom-spacing">
                        <i class="fa-solid fa-paperclip"></i>
                        Cargar documentos adjuntos
                      </button>
                    </div>

                  </div>


                  <!-- Tabla de Adjuntos al informe -->
                  <div *ngIf="informe.adjuntoInformes && informe.adjuntoInformes.length > 0" class="mt-4">
                    <h6 class="text-center header-style">Listado de Documentos adjuntos</h6>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="custom-th">Descipción</th>
                          <th class="custom-th">Adjunto</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let adjunto of informe.adjuntoInformes">
                          <td class="custom-td">{{ adjunto.descripcion }}</td>

                          <td class="custom-td">
                            <button class="btn btn-info btn-sm" (click)="verAdjunto(adjunto.urlAdjunto)">
                              Ver
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Mensaje cuando no hay procedimientos -->
                  <div *ngIf="informe.adjuntoInformes && informe.adjuntoInformes.length === 0">
                    <div style="height: 20px;"></div>
                  </div>





                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>