<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <app-nav></app-nav>
  
      <div class="content-wrapper">
        <!-- Formulario de Correos -->
        <div class="container-fluid my-4 d-flex justify-content-center">
          <div class="separated-content w-100">
            <div class="form-wrapper">
              <form [formGroup]="correoForm" (ngSubmit)="agregarCorreo()">
                <!-- Botón para volver -->
                <div class="container-fluid my-3 d-flex justify-content-start">
                  <button (click)="volver()"  class="btn btn-sm btn-secondary btn-custom btn-custom-spacing">
                    <i class="fa-solid fa-arrow-left"></i> Volver
                  </button>
                </div>
  
                <!-- Inputs para agregar correo -->
                <div class="form-row mb-2">
                  <div class="form-group col-md-4">
                    <label for="nombre" class="label-custom">Nombre del Contacto</label>
                    <input id="nombre" formControlName="nombre" class="form-control input-custom" />
                    <div *ngIf="correoForm.get('nombre')?.invalid && correoForm.get('nombre')?.touched" class="text-danger">
                      El nombre es requerido
                    </div>
                  </div>
  
                  <div class="form-group col-md-4">
                    <label for="correo" class="label-custom">Correo</label>
                    <input id="correo" formControlName="correo" class="form-control input-custom" />
                    <div *ngIf="correoForm.get('correo')?.invalid && correoForm.get('correo')?.touched" class="text-danger">
                      El correo es requerido y debe tener un formato válido
                    </div>
                  </div>
                </div>
  
                <!-- Botón para agregar correo -->
                <div class="form-row mt-3">
                  <div class="col-md-12">
                    <button type="submit"  class="btn btn-sm btn-success btn-custom btn-custom-spacing" [disabled]="correoForm.invalid"><i class="fa-solid fa-envelope"></i>Agregar Correo</button>
                  </div>
                </div>
              </form>
            </div>
  
            <!-- Lista de Correos dentro de un card -->
            <div class="card mt-4">
              <div class="card-header text-center">
                <h4 class="card-title">Lista de Correos</h4>
              </div>
              <div class="card-body">
                <!-- Mostrar tabla solo si hay correos -->
                <div *ngIf="correos.length > 0">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th class="custom-th">Nombre</th>
                        <th class="custom-th">Correo</th>
                        <th class="custom-th">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let correo of correos">
                        <td class="custom-td">{{ correo.nombre }}</td>
                        <td class="custom-td">{{ correo.correo }}</td>
                        <td class="custom-td text-center">
                          <button (click)="editarCorreo(correo)" class="btn btn-sm btn-secondary">
                            <i class="fa-solid fa-square-pen"></i> Editar
                          </button>
                          <button (click)="eliminarCorreo(correo.id)" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash-can"></i> Eliminar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
  
                <!-- Mensaje cuando no hay correos -->
                <div *ngIf="correos.length === 0" class="alert alert-info text-center">
                  No hay correos registrados.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </body>
  