.a4-paper {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 210mm; /* Ancho A4 */
    height: 297mm; /* Alto A4 */
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
    margin: 20px auto;
  }
  