/* src/app/encabezado/encabezado.component.css */
.content-wrapper {
  margin: 80px 0;
}
.custom-form .form-control-sm {
  font-size: 12px;
}
.custom-h5 {
  font-size: 16px;
  text-align: center;
}
.small-text {
  font-size: 12px;
}
.text.alert-danger {
  font-size: 10px;
  background: #f8d7da;
  color: #721c24;
  padding: 4px;
  border-radius: 4px;
}
.custom-table th, .custom-table td {
  font-size: 13px;
}
