<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
            <app-nav></app-nav>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="overflow-y: auto; height: 100vh;">
            <!-- Content Header (Page header) -->
            <div *ngIf="!showError" class="container my-4 d-flex justify-content-center">
                <div class="separated-content">
                    <div class="col">
                        <app-form-documento (newDocumentoEvent)="addDocumento($event)" [documento]="documentoSelected"></app-form-documento>
                    </div>
                    <div class="card" style="width: 100%;">
                        <div class="col mt-3">
                            <div>
                                <h5 class="text-center custom-font-size">Lista de documento</h5>
                                <div class="search-container">
                                    <input type="text"
                                           class="search-input"
                                           placeholder="Buscar por Juridicción"
                                           [(ngModel)]="tipoBusqueda"
                                           (input)="buscarPorTipo()">
                                  </div>
                                  
                                <div *ngIf="documentosFiltrados.length > 0" style="max-height: 600px; overflow-y: auto;">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="custom-tr">Nombre</th>
                                                <th class="custom-tr">Juridicción</th>
                                                <th class="custom-tr">Observaciones</th>                                            
                                                <th class="custom-tr">Acciones</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let documento of documentosFiltrados; trackBy: trackByFn">
                                                <td class="custom-td">{{documento.nombre}}</td>
                                                <td class="custom-td">{{documento.juridiccion}}</td>                                    
                                                <td class="custom-td">{{documento.observaciones}}</td>

                                                <td class="custom-td">
                                                    <button (click)="onUpdateDocumento(documento)" class="btn btn-sm btn-secondary custom-button" style="font-size: 12px;">
                                                        <i class="fas fa-edit me-1"></i> Editar
                                                      </button>                                                      
                                                </td>
                                                <td>
                                                    <button (click)="onRemoveDocumento(documento.id)" class="btn btn-sm btn-danger custom-button" style="font-size: 12px;">
                                                        <i class="fas fa-trash-alt me-1"></i> Eliminar
                                                      </button>
                                                      
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="documentosFiltrados.length === 0" class="alert alert-info">Lo sentimos, no hay información para mostrar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <app-footer></app-footer>
    </div>
</body>
