<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <app-nav></app-nav>
  
      <div class="content-wrapper">
        <!-- Formulario de Procedimientos -->
        <div class="container-fluid my-4 d-flex justify-content-center">
          <div class="separated-content w-100">
            <div class="form-wrapper">
              <form [formGroup]="procedimientoForm" (ngSubmit)="agregarProcedimiento()">
                <!-- Botón para volver -->
                <div class="container-fluid my-4 d-flex justify-content-start">
                  <button (click)="volver()" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i> Volver
                  </button>
                </div>
  
                <!-- Inputs para agregar procedimiento -->
                <div class="form-row mb-2">
                  <div class="form-group col-md-6">
                    <label for="nombre" class="label-custom">Nombre del Procedimiento</label>
                    <input id="nombre" formControlName="nombre" class="form-control input-custom" />
                    <div *ngIf="procedimientoForm.get('nombre')?.invalid && procedimientoForm.get('nombre')?.touched" class="text-danger">
                      El nombre del procedimiento es requerido
                    </div>
                  </div>
  
                  <!-- Campo para subir el archivo adjunto -->
                  <div class="form-group col-md-6">
                    <label for="adjunto" class="label-custom">Adjunto</label>
                    <input id="adjunto" type="file" (change)="onFileSelected($event)" class="form-control input-custom" />
                    <div *ngIf="selectedFile === null && fileTouched" class="text-danger">
                      El archivo adjunto es requerido
                    </div>
                  </div>
                </div>
  
                <!-- Botón para agregar procedimiento -->
                <div class="form-row mt-3">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" [disabled]="procedimientoForm.invalid || selectedFile === null">
                      Agregar Procedimiento
                    </button>
                  </div>
                </div>
              </form>
            </div>
  
            <!-- Tabla de Procedimientos dentro de un card -->
            <div class="card mt-4">
              <div class="card-header text-center">
                <h4 class="card-title">Lista de Procedimientos</h4>
              </div>
              <div class="card-body">
                <!-- Mostrar tabla solo si hay procedimientos -->
                <div *ngIf="procedimientos.length > 0">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th class="custom-th">Procedimiento</th>
                        <th class="custom-th">Adjunto</th>
                        <th class="custom-th">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let procedimiento of procedimientos">
                        <td class="custom-td">{{ procedimiento.nombre }}</td>
                        <td class="custom-td">
                          <button class="btn btn-info btn-sm" (click)="verAdjunto(procedimiento.adjunto)">
                            Ver
                          </button>
                        </td>
                        
                        <td class="custom-td text-center">
                          <button (click)="editarProcedimiento(procedimiento)" class="btn btn-sm btn-secondary">
                            <i class="fa-solid fa-square-pen"></i> Editar
                          </button>
                          <button (click)="eliminarProcedimiento(procedimiento.id)" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash-can"></i> Eliminar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
  
                <!-- Mensaje cuando no hay procedimientos -->
                <div *ngIf="procedimientos.length === 0" class="alert alert-info text-center">
                  No hay procedimientos registrados.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </body>
  